<!DOCTYPE html>
<html>
<head>
    <title>Old Car Price Pridictor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Old Car Price Pridictor</h1>
<a href="/logout">Logout</a>

<hr>

<h3>Car Price Prediction</h3>
<h4>Aditya Kumar</h4>

<div>
    <input type="number" id="year" placeholder="Year">
    <input type="number" id="mileage" placeholder="Mileage">
    <input type="number" id="engine" placeholder="Engine">
    <input type="number" id="power" placeholder="Power">
</div>

<br>

<button onclick="predict()">Predict</button>

<h2 id="result"></h2>
<h3 id="confidence"></h3>

<canvas id="chart" width="600" height="300"></canvas>

<script src="/static/script.js"></script>

</body>
</html>